/* Глобальные стили */

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=cyrillic);
 body {
    background: url(../images/sprinkles.png);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    padding-top: 70px;
}
a {
    cursor: pointer;
}
.modal-content img {
    width: 100%
}
#top-header {
    background: #fff;
    padding: 10px 0;
    font-size: 18px;
    opacity: 0.8;
}
.logo {
    opacity: 0.8;
}
.tel {
    margin-top: 10px;
    font-size: 36px;
}
.weight {
    margin-top: 15px;
    font-weight: 700;
    color: #df6a78;
    font-family: 'Roboto Slab';
    margin-bottom: 18px;
    text-align: left
}
.price {
    font-size: 33px;
    margin-top: 2px;
    font-weight: 700;
}
.shopping-cart {
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.sales {
    font-weight: 700;
    font-size: 18px;
    padding: 5px 0;
    background: #df6a78;
    opacity: 0.8;
    color: #ecf0f1;
    margin-bottom: 20px;
}
.nav-pills{
    font-size: 18px;
    font-weight: 600;
}
.nav-pills a {
    color: #000;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    font-weight: 700;
    background-color: #df6a78;
}
.product, .container-filter {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.modal-content{
    padding: 15px;
}
.modal-content h2{
    text-align: center;
}
.button-cart{
    text-align: center;
}
#Container .mix {
    display: none;
}
.mid-header {
    padding-bottom: 16px;
    padding-top: 16px;
}
.phone-link {
    text-decoration: none;
    text-shadow: 1px #888;
    color: #4E4E4E;
}
.phone-link:hover {
    color: #4E4E4E;
    text-decoration: none;
}
.about {
    border-radius: 10px;
    background: rgba(118, 194, 175, 0.5);
    margin-bottom: 20px;
}
.about p {
    font-size: 18px;
    font-family: 'Roboto Slab';
}
.title {
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: #df6a78;
    ;
    margin-bottom: 15px;
}
.features {
    margin-bottom: 14px;
}
.features h4 {
    color: #df6a78;
    ;
    font-weight: 700;
    font-family: 'Roboto Slab';
}
.features p {
    font-family: 'Roboto Slab';
}
.feature {
    background: transparent;
    border: none;
}
.feature img {
    margin-top: 10px;
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888;
}
.img-circle {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888;
}
.img-circle:hover {
    cursor: pointer;
    background: #fff;
    z-index: 20;
    opacity: 0.9;
}
.footer {
    width: 100%;
    color: #ecf0f1;
    padding-top: 21px;
    padding-bottom: 11px;
    background: #6C6F78;
    opacity: 0.8;
}
.footer a {
    color: #ecf0f1;
}
.form-control {
    margin-left: 24px;
}
.cart-button {
    text-decoration: none;
    color: #888888
}
.cart-button:hover {
    text-decoration: none;
    color: #888888;
}
.cart {
    margin-top: 32px;
}
.btn {
    margin: 4px;
}
.btn-hot,
.btn-primary {
    color: #fff;
    background-color: #db5566;
    border-bottom: 2px solid #af4451;
}
.btn-hot:hover,
.btn-sky.active:focus,
.btn-hot:focus,
.open>.dropdown-toggle.btn-hot,
.btn-hot:active {
    color: #fff;
    background-color: #df6a78;
    border-bottom: 2px solid #b25560;
    outline: none;
}
.btn-hot:active,
.btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top: 2px solid #9a3c47;
    margin-top: 2px;
}
.item {
    border: none;
    background: transparent;
}
.product .row {
    margin-bottom: 0px;
}
.product .caption {
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 6px;
    border-radius: 10px;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
}